<!doctype html>
<html>

<head>
    <title>Meadowlark Travel</title>
</head>

<body>
    <header><img src="/img/logo.png" alt="Logo" style="float: left; margin-right: 200px;"></header>
    {{{body}}}
</body>

</html>